* {
	margin: 0;
	padding: 0;
}
html {
	background: lightblue;
}

h1 {
	padding: 2%;
}

.starter {
	border: 1px solid black;
}

h3 a{
	text-decoration: none;
	color: black;
	}
	
h3 a:hover, h3 a:focus {
    color: gray;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.starter {
  float: left;
  width: 42%;
  padding: .8%;
  border: 2px solid black;
  margin-left: 3%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 1.5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  
}

.text {
	float: none;
	padding-left: 3%;
	font-size: 120%;
	
}

#prof {
font-size: 150%;
margin-bottom: .5%;
}

#title {
font-size: 110%;
font-style: italic;
}

#susan {
	font-size: 120%;
	font-style: italic;
	}

.title {
padding-top: 2.8%;
padding-bottom: .6%;
text-align: center;
}

img {
	float: left;
	vertical-align: middle;
	}
	
	
h3 {
	text-align: center;
	}
	

	
	
.button {
  display: inline-block;

  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 80%;
  padding: .5%;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  	margin-left: 17%;

  position: absolute;

}


/* samsung s5/iphone portrait (375px or less)*/
@media only screen and (max-width: 375px) {
	#nav_menu {display: none; }
	#mobile_menu {display: block; }	
	body {
		width: 100%;
		margin: 0;
		border: none;
		font-size: 75%;
		}
	.starter {
		margin-top: 5%;
		margin-bottom: 5%;
		float: none;
		width: 90%;
		}
	.row {
		float: none;
		}
	.button {
		float: right;
		}

	}

