* {
	margin: 0;
	padding: 0;
}
html {
	background: lightblue;
}

header img{
    padding-left: 10%;
}

body {
	margin: auto;
	width: 90%;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 110%;

    background: white;
    
    border: 2px solid black;
}

main img {
    float:right;
    padding: 1.5% 1.5%;
}

main p {
    padding: 1.5% 5%;
}

body header h1 {
    padding: 5% 5%;
}

#nav_list {
    margin: 0 auto;
    text-align: center;
}

#nav_list ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 1.5%;
}

#nav_list ul li {
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#nav_list ul li a {
	text-align: center;
	display: block;
	width: 130px;
	padding: 1em 0;
	text-decoration: none;
	background-color: blue;
	color: Yellow;
	font-weight: bold;
	border-right: 2px solid white;
}

#nav_list ul li a.lastmenu {
	border-right: none;
}

#nav_list ul li a:hover, #nav_list ul li a:focus {
    background-color: yellow;
    color: blue;
}

footer {
    padding: 1% 1%;
    clear: both;
}